@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tw-animate-css"; */

:root {
  --radius: 0.625rem;
  --background: #F1F1F1;
  --foreground: #222A2C;
  --card: #FFFFFF;
  --card-foreground: #222A2C;
  --popover: #FFFFFF;
  --popover-foreground: #222A2C;
  --primary: #0B7A1A;
  --primary-foreground: #FFFFFF;
  --secondary: #F1F1F1;
  --secondary-foreground: #222A2C;
  --muted: #F1F1F1;
  --muted-foreground: #7A7A7A;
  --accent: #67EF3E;
  --accent-foreground: #222A2C;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: #E5E5E5;
  --input: #E5E5E5;
  --ring: #0B7A1A;
  --chart-1: #0B7A1A;
  --chart-2: #67EF3E;
  --chart-3: #7A7A7A;
  --chart-4: #222A2C;
  --chart-5: #F1F1F1;
  --sidebar: #FFFFFF;
  --sidebar-foreground: #222A2C;
  --sidebar-primary: #0B7A1A;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F1F1F1;
  --sidebar-accent-foreground: #222A2C;
  --sidebar-border: #E5E5E5;
  --sidebar-ring: #0B7A1A;
}

.dark {
  --background: #111111;
  --foreground: #FFFFFF;
  --card: #222A2C;
  --card-foreground: #FFFFFF;
  --popover: #222A2C;
  --popover-foreground: #FFFFFF;
  --primary: #67EF3E;
  --primary-foreground: #111111;
  --secondary: #222A2C;
  --secondary-foreground: #FFFFFF;
  --muted: #222A2C;
  --muted-foreground: #7A7A7A;
  --accent: #67EF3E;
  --accent-foreground: #111111;
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: #333333;
  --input: #333333;
  --ring: #67EF3E;
  --chart-1: #0B7A1A;
  --chart-2: #67EF3E;
  --chart-3: #7A7A7A;
  --chart-4: #222A2C;
  --chart-5: #F1F1F1;
  --sidebar: #222A2C;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #67EF3E;
  --sidebar-primary-foreground: #111111;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #333333;
  --sidebar-ring: #67EF3E;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
  
  .border-gradient-to-b {
    border-image: linear-gradient(to bottom, var(--tw-gradient-stops)) 1;
  }
}
